.google-animation-4 {
  width: 4em;
  height: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -moz-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  -o-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: Animation4Container 1s ease infinite;
  -moz-animation: Animation4Container 1s ease infinite;
  -ms-animation: Animation4Container 1s ease infinite;
  -o-animation: Animation4Container 1s ease infinite;
  animation: Animation4Container 1s ease infinite;
  .shape {
    width: 1em;
    height: 1em;
    border-radius: 100%;
    position: absolute;
  }
  .shape-1 {
    left: 0;
    -webkit-animation: Animation4Shape1 0.3s ease infinite alternate;
    -moz-animation: Animation4Shape1 0.3s ease infinite alternate;
    -ms-animation: Animation4Shape1 0.3s ease infinite alternate;
    -o-animation: Animation4Shape1 0.3s ease infinite alternate;
    animation: Animation4Shape1 0.3s ease infinite alternate;
  }
  .shape-2 {
    right: 0;
    -webkit-animation: Animation4Shape2 0.3s ease infinite 0.3s alternate;
    -moz-animation: Animation4Shape2 0.3s ease infinite 0.3s alternate;
    -ms-animation: Animation4Shape2 0.3s ease infinite 0.3s alternate;
    -o-animation: Animation4Shape2 0.3s ease infinite 0.3s alternate;
    animation: Animation4Shape2 0.3s ease infinite 0.3s alternate;
  }
  .shape-3 {
    bottom: 0;
    -webkit-animation: Animation4Shape3 0.3s ease infinite 0.3s alternate;
    -moz-animation: Animation4Shape3 0.3s ease infinite 0.3s alternate;
    -ms-animation: Animation4Shape3 0.3s ease infinite 0.3s alternate;
    -o-animation: Animation4Shape3 0.3s ease infinite 0.3s alternate;
    animation: Animation4Shape3 0.3s ease infinite 0.3s alternate;
  }
  .shape-4 {
    right: 0;
    bottom: 0;
    -webkit-animation: Animation4Shape4 0.3s ease infinite alternate;
    -moz-animation: Animation4Shape4 0.3s ease infinite alternate;
    -ms-animation: Animation4Shape4 0.3s ease infinite alternate;
    -o-animation: Animation4Shape4 0.3s ease infinite alternate;
    animation: Animation4Shape4 0.3s ease infinite alternate;
  }
}

@-webkit-keyframes Animation4Shape1 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(1em, 1em);
  }
}

@-moz-keyframes Animation4Shape1 {
  0% {
    -moz-transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(1em, 1em);
  }
}

@-ms-keyframes Animation4Shape1 {
  0% {
    -ms-transform: translate(0, 0);
  }
  100% {
    -ms-transform: translate(1em, 1em);
  }
}

@-o-keyframes Animation4Shape1 {
  0% {
    -o-transform: translate(0, 0);
  }
  100% {
    -o-transform: translate(1em, 1em);
  }
}

@keyframes Animation4Shape1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1em, 1em);
  }
}

@-webkit-keyframes Animation4Shape2 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-1em, 1em);
  }
}

@-moz-keyframes Animation4Shape2 {
  0% {
    -moz-transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(-1em, 1em);
  }
}

@-ms-keyframes Animation4Shape2 {
  0% {
    -ms-transform: translate(0, 0);
  }
  100% {
    -ms-transform: translate(-1em, 1em);
  }
}

@-o-keyframes Animation4Shape2 {
  0% {
    -o-transform: translate(0, 0);
  }
  100% {
    -o-transform: translate(-1em, 1em);
  }
}

@keyframes Animation4Shape2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1em, 1em);
  }
}

@-webkit-keyframes Animation4Shape3 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(1em, -1em);
  }
}

@-moz-keyframes Animation4Shape3 {
  0% {
    -moz-transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(1em, -1em);
  }
}

@-ms-keyframes Animation4Shape3 {
  0% {
    -ms-transform: translate(0, 0);
  }
  100% {
    -ms-transform: translate(1em, -1em);
  }
}

@-o-keyframes Animation4Shape3 {
  0% {
    -o-transform: translate(0, 0);
  }
  100% {
    -o-transform: translate(1em, -1em);
  }
}

@keyframes Animation4Shape3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(1em, -1em);
  }
}

@-webkit-keyframes Animation4Shape4 {
  0% {
    -webkit-transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-1em, -1em);
  }
}

@-moz-keyframes Animation4Shape4 {
  0% {
    -moz-transform: translate(0, 0);
  }
  100% {
    -moz-transform: translate(-1em, -1em);
  }
}

@-ms-keyframes Animation4Shape4 {
  0% {
    -ms-transform: translate(0, 0);
  }
  100% {
    -ms-transform: translate(-1em, -1em);
  }
}

@-o-keyframes Animation4Shape4 {
  0% {
    -o-transform: translate(0, 0);
  }
  100% {
    -o-transform: translate(-1em, -1em);
  }
}

@keyframes Animation4Shape4 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-1em, -1em);
  }
}

@-webkit-keyframes Animation4Container {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-moz-keyframes Animation4Container {
  0% {
    -moz-transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -moz-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-ms-keyframes Animation4Container {
  0% {
    -ms-transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -ms-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-o-keyframes Animation4Container {
  0% {
    -o-transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -o-transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes Animation4Container {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

